.container1 {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

section > div {
    width: 250px;
    height: 200px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.259);
    position: relative;
}

.box1 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box1:hover {
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
}

.box2 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box2:hover {
    transition:all 2s ease-in-out;
    transform: scaleY(0.5);
}

.box3 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}


.box3:hover {
    transition:all 2s ease-in-out;
    transform: scalex(0.5);
}


.box4 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}


.box4:hover {
    transform: scale(1.5);
    transition: all 2s ease-in-out;
}

.box5 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box5:hover {
    transition:all 2s ease-in-out;
    transform: scalex(1.6);
}

.box6 {
    width: 150px;
    height: 150px;
    background-color: #67729d;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box6:hover {
    transition:all 2s ease-in-out;
    transform: scaley(1.5);
}

.box7 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box7:hover {
    transition:all 2s ease-in-out;
    transform: skewX(45deg);
}

.box8 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box8:hover {
    transition:all 2s ease-in-out;
    transform: skewy(45deg);
}

.box9 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box9:hover {
    transition:all 2s ease-in-out;
    transform: translate(50px,25px);
}


.box10 {
    width: 150px;
    height: 150px;
    background-color: #67729D;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box10:hover {
    transition:all 2s ease-in-out;
    transform: translate(50px)
}