body {
    background-color: rgb(250, 225, 229);
}

.container {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 30px;
}

section > div {
    width: 250px;
    height: 200px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.055);
    position: relative;
    background-color: #fff;
}

.bc {
    width: 150px;
    height: 150px;
    background-color: #747475;
    position: absolute;
    top: 25px;
    left: 50px;
}

.box1 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box1:hover {
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
}

.box2 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box2:hover {
    transition:all 1s ease-in-out;
    transform: scaleY(0.5);
}

.box3 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}


.box3:hover {
    transition:all 1s ease-in-out;
    transform: scalex(0.5);
}


.box4 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}


.box4:hover {
    transform: scale(1.5);
    transition: all 1s ease-in-out;
}

.box5 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box5:hover {
    transition:all 1s ease-in-out;
    transform: scalex(1.6);
}

.box6 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box6:hover {
    transition:all 1s ease-in-out;
    transform: scaley(1.5);
}

.box7 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box7:hover {
    transition:all 1s ease-in-out;
    transform: skewX(45deg);
}

.box8 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box8:hover {
    transition:all 1s ease-in-out;
    transform: skewy(45deg);
}

.box9 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box9:hover {
    transition:all 1s ease-in-out;
    transform: translate(50px,25px);
}


.box10 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box10:hover {
    transition:all 1s ease-in-out;
    transform: translate(70px)
}


.container2 {
    display: flex;
    padding: 10px;
    margin-top: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.box11 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}


.box11:hover {
    transition:all 1s ease-in-out;
    transform: translatey(80px);
}


.gap {
    width:100%;
    height: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}


.box12 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box12:hover {
    transition:all 1s ease-in-out;
    transform: scale(1.5, 1.5) skew(0deg, 45deg);
}

.box13 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box13:hover {
    transition:all 1s ease-in-out;
    transform: perspective(150px) rotateX(45deg);
}

.box14 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box14:hover {
    transition:all 1s ease-in-out;
    transform: perspective(150px) rotateY(45deg);
}

.box15 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}


.box15:hover {
    transition:all 1s ease-out;
    transform:rotate(45deg);
    transform-origin: top right;
}

.box16 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box16:hover {
    transition:all 1s ease-out;
    transform:rotate(45deg);
    transform-origin: bottom left;
}


.box17 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box17:hover {
    transition:all 1s ease-out;
    transform-origin: bottom;
    transform: perspective(150px) rotateX(25deg);
}

.box18 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box18:hover {
    transition:all 1s ease-out;
    transform-origin: top;
    transform: perspective(300px) rotateX(65deg);
}

.box19 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box19:hover {
    transition:all 1s ease-out;
    transform-origin: left;
    transform: perspective(300px) rotatey(45deg);
}

.box20 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box20:hover {
    transition:all 1s ease-out;
    transform-origin: right;
    transform: perspective(300px) rotatey(55deg);
}

.box21 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box21:hover {
    transition:all 1s ease-out;
    transform-origin: top right;
    transform: scale(1.7, 1.7)
}

.box22 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box22:hover {
    transition:all 1s ease-out;
    transform-origin: bottom left;
    transform: scale(1.7,1.7 )
}

.box23 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box23:hover {
    transition:all 1s ease-out;
    transform-origin: right;
    transform: scale(2, 1)
}

.box24 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box24:hover {
    transition:all 1s ease-out;
    transform-origin: left;
    transform: scale(2,1)
}

.box25 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box25:hover {
    transition:all 1s ease-out;
    transform-origin: top;
    transform: scale(1,2)
}

.box26 {
    width: 150px;
    height: 150px;
    background-color: rgba(228, 102, 192, 0.77);
    position: absolute;
    top: 25px;
    left: 50px;
}

.box26:hover {
    transition:all 1s ease-out;
    transform-origin: bottom;
    transform: scale(1,2)
}